:root {
    --main: #f2f2f2;
    --non-number: #f8f8f8;
    --number: #fdfdfd;
    --numpad-hover: #1986db;
    --number-hover: #dedede;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    background-color: var(--main);
    overflow: hidden;
}
header {
    overflow: hidden;
}

button {
    border: none;
    background-color: var(--main);
}

header button {
    float: right;
    padding: 4px 15px;
    height: 27px;
    text-align: center;
    font-size: 1em;
}

header button:not(#close) {
    width: 40px;
}

header span {
    float: left;
    padding: 7px 12px;
}

button:hover {
    background-color: var(--number-hover);
}

#close:hover {
    background-color: #e81123;
    color: white;
}
nav p,
button {
    float: left;
}

#nav-menu {
    font-size: 1em;
    padding: 11px 11px;
}

nav > p {
    font-size: 1.7em;
    padding-left: 10px;
    margin-top: 3px;
}

#nav-time-machine {
    float: right;
    padding: 9px 11px;
}
.display-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 124px;
}

.display {
    flex: 70%;
    height: auto;
}

.display h1 {
    direction: rtl;
    font-size: 3.8em;
    padding: 10px 15px;
    margin-top: 10px;
}

.memory-ctl {
    max-width: 560px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    flex: 25%;
    min-height: 30px;
    overflow: hidden;
}
.memory-ctl>div {
    width: 80px;
    margin: 0;
    font-size: 0.9em;
}
.mem-btn {
    width: 100%;
    height: 100%;
    font-weight: 500;
}

#mu-div {
    margin-left: auto;
    order: 2;
}

#mu-btn>sup {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
}

@media only screen and (min-height: 464px) {
    .display-container {
        height: 26vh;
    }
}

@media only screen and (min-height: 750px) {
    .display h1 {
        font-size: 6em;
        font-weight: 600;
    }
}

.title-container {
    display: block;
    min-width: 180px;
    overflow: hidden;
}

.layout-right p {
    display: inline-block;
    font-size: 1.3em;
    margin: 12px 14px;
    padding-bottom: 3px;
    font-weight: 600;
    border: none;
}
#hb-selected {
    float: left;
    border-bottom: 4px solid var(--numpad-hover);
}

.hb-text p {
    font-size: 1.1em;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 23px;
}

.layout-right {
    display: none;
}

.layout-top {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.layout-bottom {
    display: inline-block;
    width: 100%;
    height: 66vh;
    flex-grow: 1;
    align-self: stretch;
}

.grid-nums {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2px 2px;
    height: 100%;
    background-color: var(--main);
}

.grid-nums div {
    text-align: center;
}

.grid-nums button {
    width: 100%;
    height: 100%;
    padding: 5px;
}
.number {
    background-color: var(--number);
    font-size: 1.8em;
    font-weight: 600;
}
.non-number {
    background-color: var(--non-number);
    font-size: 1.6em;
    font-weight: 300;
}
.operations-hover:hover {
    background-color: var(--numpad-hover);
    color: white;
}
@media only screen and (min-width: 560px) {

    /* hide clock icon and memory button */
    #mu-div,
    #nav-time-machine {
        display: none;
    }

    .layout-right {
        display: inline-block;
        width: 320px;
    }

    .layout-main {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        clear: both;
    }
    .layout-bottom {
        display: block;
    }
}
.num-power3 { display: none; }

/* Defining grid area for reshaping numpad */
@media only screen and (min-width: 1020px) and (min-height: 640px) {
    .num-per { grid-area: num-per; }
    .num-sqr { grid-area: num-sqr; }
    .num-power { grid-area: num-power; }
    .num-power3 {
        display: contents;
        grid-area: num-power3;
    }
    .num-fraction { grid-area: num-fraction; }
    .num-clt { grid-area: num-clt; }
    .num-cle { grid-area: num-cle; }
    .num-erase { grid-area: num-erase; }
    .num-div { grid-area: num-div; }
    .num-seven { grid-area: num-seven; }
    .num-eight { grid-area: num-eight; }
    .num-nine { grid-area: num-nine; }
    .num-multi { grid-area: num-multi; }
    .num-four { grid-area: num-four; }
    .num-five { grid-area: num-five; }
    .num-six { grid-area: num-six;}
    .num-minus { grid-area: num-minus; }
    .num-one { grid-area: num-one; }
    .num-two { grid-area: num-two; }
    .num-three { grid-area: num-three; }
    .num-plus { grid-area: num-plus; }
    .num-minplus { grid-area: num-minplus; }
    .num-zero { grid-area: num-zero; }
    .num-dot { grid-area: num-dot; }
    .num-equal { grid-area: num-equal; }
    .grid-nums {
        grid-template-areas: 'num-per num-clt num-cle num-erase num-div'
                            'num-sqr num-seven num-eight num-nine num-multi'
                            'num-power num-four num-five num-six num-minus'
                            'num-power3 num-one num-two num-three num-plus'
                            'num-fraction num-minplus num-zero num-dot num-equal';
    }
}
@media only screen and (min-width: 1200px) and (min-height: 700px) {
    .number {
            font-size: 2.2em;
            font-weight: 600;
        }
    
    .non-number {
            font-size: 2.1em;
            font-weight: 200;
        }
    .mem-btn {
            font-size: 1.1em;
            font-weight: 600;
        }
}