:root {
    --main: #e6e6e6;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    background-color: var(--main);
}

header button {
    float: right;
    border: none;
    padding: 4px 15px;
    height: 27px;
    text-align: center;
    background-color: var(--main);
    font-size: 1em;
}
header button:not(#close) {
    width: 40px;
}
header span {
    float: left;
    padding: 7px 12px;
}
#close:hover {
    background-color: #e81123;
    color: white;
}
header button:hover {
    background-color: #cfcfcf;
}
