:root {
    --main: #f2f2f2;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 12px;
    background-color: var(--main);
}
header {
    overflow: auto;
}
button {
    border: none;
}
button:hover {
    background-color: #d8d8d8;
}
header button {
    float: right;
    padding: 4px 15px;
    height: 27px;
    text-align: center;
    background-color: var(--main);
    font-size: 1em;
}
header button:not(#close) {
    width: 40px;
}
header span {
    float: left;
    padding: 7px 12px;
}
#close:hover {
    background-color: #e81123;
    color: white;
}
nav {
    overflow: auto;
}
nav p, button{
    float: left;
}
#nav-menu {
    font-size: 1em;
    padding: 11px 11px;
    background-color: var(--main);
}
nav p {
    font-size: 1.7em;
    padding-left: 10px;
    margin-top: 3px;
}
#nav-time-machine {
    background-color: var(--main);
    float: right;
    padding: 9px 11px;
}
#nav-time-machine:hover, #nav-menu:hover {
    background-color: #d8d8d8;
}
.display h1 {
    direction: rtl;
    font-size: 3.8em;
    padding: 10px 15px;
    margin-top: 10px;
}

.memory-ctl {
    border: 1px solid #blue;
    max-width: 560px;
    display: flex;
    flex-wrap: nowrap;
    flex-align: center;
}
.memory-ctl > div {
    width: 80px;
    margin: 0;
    text-align: center;
    font-size: 0.9em;
}
.mem-btn  {
    width: 100%;
    text-align: center;
    font-weight: 500;
    padding: 7px;
}
#mu-btn {
    margin-left: auto;
    order: 2;
}
#mu-btn > sup {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
}
@media only screen and (min-width:)